.back {
    margin-bottom: 20px;

    &__text {
        margin-left: 5px;
        font-size: 12px;
        color: $color-base-1;
        transition: color 0.2s;

        &:hover {
            color: $color-dark;
        }
    }
}