.header {
    margin: 30px 60px 60px;

    @include sm {
        position: fixed;
        width: 100%;
        margin: 0;
        background: $color-light;
        z-index: 1;

        // Bottom border on small screens
        &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            content: '';
            width: calc(100% - 20px);
            height: 1px;
            background: $color-base-2;
            transform: translate(-50%, 0);
        }
    }

    .logo-link {
        display: inline-block;
    }

    .logo {
        display: inline-block;
        position: relative;
        text-align: right;
        z-index: 1;

        @include md {
            text-align: left;
        }

        @include sm {
            margin: 10px 0 0 10px;
            text-align: right;
        }

        &__main {
            font-size: 42px;
            font-weight: 700;

            @include sm {
                font-size: 23px;
            }
        }

        &__subtitle {
            display: inline-block;
            padding: 0 5px;
            background: $color-light;

            @include sm {
                padding: 0;
                font-size: 9px;
                vertical-align: top;
                line-height: 0;
                background: inherit;
            }
        }
    }
}