.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    &__item {
        margin: 0 10px;
        font-size: 17px;
        color: $color-base-1;
        transition: color 0.2s;

        &.active,
        &:hover {
            color: $color-dark;
        }
    }
}