.about {

    .photo {
        position: relative;
        max-width: 540px;
        width: 100%;
        margin-bottom: -35px;

        @include sm {
            max-width: 100%;
            margin-bottom: -15px;
        }

        &__img {
            width: 100%;
        }
    }

    .caption {
        position: relative;
        top: -35px;
        margin: 0 30px;
        padding: 25px 30px 40px 20px;
        background: $color-light;
        box-sizing: border-box;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.16);
        line-height: 19px;

        @include sm {
            margin: 0 10px;
        }

        &__quotes {
            position: absolute;
            top: -20px;
            left: 20px;
        }

        &__text {
            font-family: Verdana, sans-serif;
            font-style: italic;
            font-size: 13px;
        }
    }

    .biography {
        display: flex;
        margin: 0 60px 60px 60px;

        @include sm {
            margin: 85px 10px 40px 10px;
            flex-direction: column;
        }

        &__content {
            width: 100%;
            margin: 110px 0 0 35px;

            @include sm {
                margin: 0;
            }
        }

        &__text {
            line-height: 26px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .title {
        position: absolute;
        top: 30px;
        right: -140px;
        padding: 0 15px 10px 15px;
        background: $color-light;

        @include sm {
            position: static;
        }

        &__main {
            font-size: 30px;
            font-weight: 600;
        }

        &__subtitle {
            font-size: 11px;
        }
    }
}