// Media-query breakpoints
// less then 576px
$screen-xs: 575.98px;

// Small tablets and large smartphones (landscape view)
$screen-sm: 767.98px;

// Small tablets (portrait view)
$screen-md: 991.98px;

// Tablets and small desktops
$screen-lg: 1199.98px;

// Laptops
$screen-xl: 1365.98px;

// example of use
// .container {
//     padding: 0 15px;
//  576px window width and more
//     @include sm {
//         padding: 0 20px;
//     }

@mixin xs {
    @media (max-width: #{$screen-xs}) {
        @content;
    }
}

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (max-width: #{$screen-md}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg}) {
        @content;
    }
}

@mixin xl {
    @media (max-width: #{$screen-xl}) {
        @content;
    }
}

// Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

// Reset browser styles
@mixin reset(){
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 100%;
        font-weight: normal;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    input,textarea,select{
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    legend{
        color: #000;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}