.m-about {
    .about-left {
        @include display(flex);
        @include align-items(flex-start);

        .left-img {
            max-width: 136px;

            @media (max-width: $screen-phone) {
                max-width: 70px;
            }
        }

        .name {
            background-color: #222222;
            color: #ffffff;
            padding: 5px;
        }
        .about-info {
            margin: 10px 0;
            font-size: em(14);
            font-weight: 400;

            span {
                padding: 6px 0;
            }

            .direction {
                display: block;
                color: #616161;
                font-weight: 600;
            }
        }
    }
}