.m-btn {
	font-size: 14px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	margin-bottom: 0;
	border: 1px solid #f0f0f0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;


	background-image: none !important;
	color: #626262;
	background-color: #ffffff;
	text-shadow: none;
	box-shadow: none;
	line-height: 21px;
	padding-left: 17px;
	padding-right: 17px;
	position: relative;

	@include border-radius(2px);
	@include transition(color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important);

	&:hover {
		background-color: #fafafa;
		border: 1px solid rgba(98, 98, 98, 0.27);
	}

	&:active {
		border-color: #e6e6e6;
		background: #fff;
	}

	&:focus,
	&:active:focus,
	&.active:focus {
		outline: none !important;
		outline-style: none;
	}
}

button:focus {
	outline: none !important;
}



.m-btn-primary {
	@extend .m-btn;
	@include border-radius(2px);

	color: #ffffff;
	background-color: #ef4431;
	border-color: #ef4431;

	&:active {
		color: #ffffff;
		background: darken(#ef4431, 5%);
		border-color: darken(#ef4431, 6%);
	}

	&:focus,
	&:hover {
		color: #ffffff;
		background: lighten(#ef4431, 5%);
		border-color: lighten(#ef4431, 6%);
	}
}

.m-btn--read {

	font-size: em(24);
	color: #cccccc;

	@include transition(color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important);

	.icon-fo-right {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: #ef4431;
		border-color: #ef4431;
		color: white;

		@include border-radius(2px);

		&:before {
			margin: 0;
			width: 40px;
			font-size: 26px;
			line-height: 40px;
		}


	}

	&:focus,
	&:hover {
		color: darken(#cccccc, 5%);

		.icon-fo-right {
			background: lighten(#ef4431, 5%);
			border-color: lighten(#ef4431, 6%);
		}
	}
}

.lg-primary {
	font-size: 17px;
	height: 40px;

	padding-left: 17px;
	padding-right: 17px;

	@media (max-width: $screen-xs-max) {
		font-size: 14px;
		padding-left: 8px;
		padding-right: 8px;
	}
}

.sm-primary {
	font-size: 15px;
	height: 24px;

	padding-left: 8px;
	padding-right: 8px;
}


.m-btn-default {
	@extend .m-btn;

	color: #5e5e5e;
	background-color: #ffffff;
	border-color: #f0f0f0;

	&:focus,
	&:hover {
		background-color: #fafafa;
		border-color: rgba(98, 98, 98, 0.27);
		color: #1a1a1a;
	}
}